/*
    Media Modal
*/

.media-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.media-modal .modal-dialog {
  position: fixed;
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding: 0;
}

.media-modal .modal-dialog .modal-header {
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  border: 0;
}

.media-modal .modal-dialog .modal-header .close {
  padding: 25px;
}

.media-modal .modal-dialog .modal-header .modal-title {
  color: #23282d;
  padding: 0 16px;
  font-size: 26px;
  line-height: 50px;
}

.media-modal .modal-dialog .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
}

.media-modal .modal-dialog .modal-content .modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content {
  position: relative;
  height: 100%;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab {
  padding: 0;
  height: 100%;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 267px;
  bottom: 0;
  overflow: auto;
  outline: 0;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-content .form-group input {
  width: 180px;
  margin: 15px;
  height: 26px;
  border-radius: 3px;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-content .modal-media-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-content .modal-media-items .imagecheck-item {
  float: left;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-content .modal-media-items .imagecheck-item .imagecheck-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details {
  background: #f3f3f3;
  border: 1px solid #ddd;
  height: 100%;
  width: 267px;
  overflow: auto;
  padding: 10px 16px 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details .content {
  display: none;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details .content .image img {
  max-width: 120px;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details .content .delete-image button {
  color: red !important;
  background: transparent !important;
  padding: 0;
  margin: 0;
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details .content .inputs input {
  height: 26px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

.media-modal .modal-dialog .modal-content .modal-body .media-tabs-content .media-tab .media-details .select-image {
  position: absolute;
  bottom: 0;
  right: 10px;
  box-shadow: none;
  border-radius: 3px;
  padding: 5px 20px 5px 20px;
  background: #fc544b !important;
}

@media screen and (max-width: 780px) {
  .media-details {
    display: none !important;
  }

  .media-content {
    right: 0 !important;
  }
}

.select-image #image-preview img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 10px;
}

.custom-btn-dark {
  background: transparent;
  border: 1px solid #191d21;
}

.custom-btn-dark:hover {
  background: #191d21 !important;
  color: #fff;
}

.invalid-feedback {
  font-weight: bold;
  color: Red;
}

.table-pages-bar {
  padding: 5px 10px 0 20px;
  display: inline-block;
}

.table-pages-bar a {
  color: #0073aa;
  text-decoration: none;
}

.table-pages-bar a .count {
  color: #555d66;
  font-weight: 400;
}

.table-pages-bar a:hover {
  color: #00adf5;
}

.table-pages-bar .page-active {
  color: black;
  font-weight: bold;
}

.comment {
  display: inline-block;
  vertical-align: top;
  text-decoration: none !important;
}

.comment .comment-count {
  box-sizing: border-box;
  display: block;
  padding: 0 8px;
  min-width: 24px;
  height: 2em;
  border-radius: 5px;
  background-color: #72777c;
  color: #fff;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
}

.comment .comment-count:after {
  content: "";
  display: block;
  margin-left: 8px;
  width: 0;
  height: 0;
  border-top: 5px solid #72777c;
  border-right: 5px solid transparent;
}

.post-categories a {
  text-decoration: none;
  color: #0073aa;
  font-size: 13px;
  line-height: 1.5em;
  margin-left: 4px;
}

.post-categories a:hover {
  color: #0fb2d6;
}

.post-tags a {
  text-decoration: none;
  color: #0073aa;
  font-size: 13px;
  line-height: 1.5em;
  margin-left: 4px;
}

.post-tags a:hover {
  color: #0fb2d6;
}

.gallery .imagecheck img {
  width: 150px;
  height: 150px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .media-details-btn {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}

#imageDetails .modal-dialog {
  max-width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 5px 0 20px;
}

#imageDetails .modal-content {
  height: 98%;
  border-radius: 0;
  margin: 0 10px;
}

#imageDetails .modal-header {
  padding-top: 10px !important;
  border-bottom: 1px solid #ddd;
}

#imageDetails .modal-header span {
  color: black;
  font-size: 24px;
  line-height: 50px;
}

#imageDetails .modal-body {
  padding: 0 15px;
}

#imageDetails .modal-body .row {
  height: 100%;
}

#imageDetails .modal-body .row .image-preview-area {
  padding: 10px;
  text-align: center;
}

#imageDetails .modal-body .row .image-preview-area img {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100% !important;
  max-height: 100% !important;
}

#imageDetails .modal-body .row .image-details-area {
  background: #f3f3f3;
  border-left: 1px solid #ddd;
  padding: 10px;
}

#imageDetails .modal-body .row .image-details-area .details {
  border-bottom: 1px solid #ddd;
}

#imageDetails .modal-body .row .image-details-area .inputs {
  border-bottom: 1px solid #ddd;
}

#imageDetails .modal-body .row .image-details-area .actions {
  padding: 3px;
}

#imageDetails .modal-body .row .image-details-area .actions .delete {
  color: red;
}

.section-header-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.custom-beep:after {
  width: 9px !important;
  height: 6px !important;
}

